{% extends "../base.html" %} <!--상속받는다는 표시-->
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="guestbook">
				<form action="/guestbook/add" method="post">{% csrf_token %}
					<input type="hidden" name="a" value="insert">
					<table>
						<tr>
							<td>이름</td><td><input type="text" name="name"></td>
							<td>비밀번호</td><td><input type="password" name="pass"></td>
						</tr>
						<tr>
							<td colspan=4><textarea name="message" id="content"></textarea></td>
						</tr>
						<tr>
							<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
						</tr>
					</table>
				</form>
				<ul>
					{% for guestbook in guestbook_list %}
					<li>
						<table>
							<tr>
								<td>{{ guestbook_list.count | add:1 | sub:forloop.counter }}</td> <!-- 전체 게시판 갯수 | +1 | 카운트-->
								<td>{{ guestbook.name }}</td>
								<td>{{guestbook.regdate|date:'Y-m-d H:i:s' }}</td>
								<td><a href="/guestbook/deleteform?id={{ guestbook.id}}">삭제</a></td>
							</tr>
							<tr>
								<td colspan=4>
								{{ guestbook.message|linebreaksbr }}
								</td>
							</tr>
						</table>

						<br>
					</li>
					{% endfor %}
				</ul>
{% endblock %}