{% extends "../base.html" %} <!--상속받는다는 표시-->
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
			{% block content %}
			<div id="board">
				<form id="search_form" action="/board/search" method="post">{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for board in board_list %}
					<tr>
						<td>{{ board_list.count | add:1 | sub:forloop.counter }}</td> <!-- 전체 게시판 갯수 | +1 | 카운트-->
						<td><a href="/board/view?id={{ board.id}} ">{{ board.title }}</a></td>
						<td>{{ board.user.name }}</td>
						<td>{{ board.hit }}</td>
						<td>{{ board.regdate|date:'Y-m-d H:i:s' }}</td>
						<td><a href="/board/deleteform?id={{ board.id }}" class="del"><img id="delete" src="/assets/images/recycle.png"> 삭제</a></td>
					</tr>
					{% endfor %}

				</table>
				<div class="bottom">
					<a href="/board/write" id="new-book">글쓰기</a>
				</div>
				{% endblock %}
