{% extends "../base.html" %} <!--상속받는다는 표시-->

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form class="board-form" method="post" action="/board/modify">{% csrf_token %}
					<input type="hidden" name="id" value="{{ board_view.id }}">
					<table class="tbl-ex">
						<tr>
							<th colspan="2">글수정</th>
						</tr>
						<tr>
							<td class="label">제목</td>
							<td><input type="text" name="title" value="{{board_view.title}}"></td>
						</tr>
						<tr>
							<td class="label">내용</td>
							<td>
								<textarea id="content" name="content">{{board_view.content}}</textarea>
							</td>
						</tr>
					</table>
					<div class="bottom">
						<a href="/board/view/?id={{board_view.id}}">취소</a>
						<input type="submit" value="수정">
					</div>
				</form>				
			</div>
{% endblock %}
